*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.slider {
    height: 100%;
}

.slide {
    overflow: hidden;
}


.slider-layer {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center bottom;
}
BODY {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-family: Georgia;
  }
H1 {
  font-size: 50px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 0 0 15px #999;
  color: transparent;
  transition: all .5s;
  }
  H1:hover {
    text-shadow: 0 0 0px #333;
    cursor: pointer;
    }
